{% extends "TLCoreBundle::layout.html.twig" %}

{% block title %}
    Informations - {{ parent() }}
{% endblock title %}

{% block body %}
    <div class="container">
        <h1>Informations</h1>
        <div class="row">
            {{ form_start(form) }}
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ form_label(form.tickets) }}</h3>
                    </div>
                    <div class="panel-body">
                        {{ form_row(form.tickets) }}
                        {{ form_row(form.send) }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading panel-img-box">
                        <img class="img-responsive" src="{{ asset('img/louvre.jpg') }}" alt="Photo du musée du Louvre">
                    </div>
                    <div class="panel-body">
                        <p>Visit day : <span class="pull-right">{{ startInfos.day | date('F d, Y') }}</span></p>
                        <p class="tickets"></p>
                        <div class="isReduced"></div>
                        <hr>
                        <p>Total price : <span class="pull-right"><span class="total_price">0</span>€</span></p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Billing informations</h3>
                    </div>
                    <div class="panel-body">
                        {{ form_row(form.completeName) }}
                        {{ form_row(form.email) }}
                    </div>
                </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
                {% include "TLCoreBundle:Core:inc/sidebarInformations.html.twig" %}
                {% include "TLCoreBundle:Core:inc/sidebarTarifs.html.twig" %}
            </div>
        </div>
        
    </div>
{% endblock body %}
